$font-weight-bolder: 900;
$primary: hsl(223, 47%, 23%);
$secondary: hsl(224, 23%, 55%);
$success: hsl(245, 75%, 52%);
$light: hsl(225, 100%, 98%);
$border-radius-lg: 0.8rem;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";


body {
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 94%)
    url("../images/pattern-background-desktop.svg") repeat-x fixed;
}

.card {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
}

.musicIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.changeBtn,
.myBtn2 {
  transition: all 0.3s;
}

.myBtn:hover {
  background: #766cf1 !important;
}

.changeBtn:hover {
  color: #766cf1 !important;
}

.myBtn2:hover {
  color: hsl(223, 47%, 23%) !important;
}

@media (min-width: 1300px) {
  .desc {
    max-width: 300px;
  }
}
